.left-nav{

-fx-background-color: #0d8642

}
.left-nav:hover{

-fx-background-color:linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #2424d0 0.0%, #c43831 99.6951%, #c63831 100.0%)

}

.top-nav{

-fx-background-color: #12c630;

}

.top-nav: hover{

-fx-background-color:linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #2424d0 0.0%, #c43831 99.6951%, #c63831 100.0%)

}


.button:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default; /* Cursor padrão ao passar por cima */
}


.background-white{

-fx-background-color: #ffffff

}

.left-edit-panel{

-fx-background-color: #907e7e;

}

.right-fields-panel{

-fx-background-color: #18afcc

}

.background-general{

-fx-background-color: #b4c6c9


}

.btn-nav{

-fx-background-color: #51a7e4;
-fx-cursor: hand;
-fx-text-fill: #ffffff;
-fx-font-family: "Arial";
-fx-text-size: 15px;

}

.btn-nav:hover{

-fx-background-color: #d0e352;
-fx-cursor: hand;
-fx-text-fill: #000000;
-fx-font-family: "Arial";
-fx-text-size: 15px;
}

.labels-general{

-fx-background: transparent;
-fx-text-fill: #ffffff

}

.nav-bars-right{

-fx-background-color: #a41a28;
-fx-text-fill: #ffffff;
-fx-alignment: Center-Left;

}

.use-btn{

-fx-background-color: #afd5da;
-fx-font-size: 13px;
-fx-cursor: hand;

}



.calendar-grid {
    -fx-background-color: rgb(20, 156, 255);
    -fx-text-fill: linear-gradient(from 28.91% 29.8578% to 0.0% 100.0%, #c9b7b1 0.0%, #ffffff 100.0%);
}

.btn-fields{

-fx-text-size: 15px;
-fx-cursor: hand;   

}

.text-labels{

-text-size: 15;
-text-fill: white;
-fx-font-family: "Berlin Sans FB Demi"





}